[submodule "third_party/swiftshader"]
	path = third_party/swiftshader
	url = https://github.com/google/swiftshader.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
